*{
  margin: 0;
}

@viewport {
  width: device-width;
  zoom: 1;
}
	



header{
  background: -webkit-gradient(linear, left top, right top, from(#2b72a1), to(#4c9482)) no-repeat;
  width: 100%;
  height: 55px;
  position: fixed;
  z-index: 1;
}

.home{
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 24px;
	margin-top: 10px;
	margin-left: 98px;
	position: absolute;
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: 0.5s;
}

.home:hover{
	font-size: 28px;
	color: rgb(0, 0, 0);
	border-bottom: 2px solid rgb(255, 211, 12);	
}

.thar-two{
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 23px;
		margin-left: 206px;
		margin-top: 11px;
		position: absolute;
		text-decoration: none;
		color: rgb(255, 255, 255);
		transition: 0.5s;
	}
	
	.thar-two:hover{
		font-size: 28px;
		color: rgb(0, 0, 0);
		border-bottom: 2px solid rgb(255, 211, 12);	
	}

	.thar-four{
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 23px;
		margin-left: 380px;
		margin-top: 11px;
		position: absolute;
		text-decoration: none;
		color: rgb(255, 255, 255);
		transition: 0.5s;
	}

	.thar-four:hover{		
		font-size: 28px;
		color: rgb(0, 0, 0);
		border-bottom: 2px solid rgb(255, 211, 12);	

	}


	.thar-three{
		font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-size: 23px;
		margin-left: 490px;
		margin-top: 11px;
		position: absolute;
		text-decoration: none;
		color: rgb(255, 255, 255);
		transition: 0.5s;
	}

	.thar-three:hover{
		font-size: 28px;
		color: rgb(0, 0, 0);
		border-bottom: 2px solid rgb(255, 211, 12);	
	}

.container{
	background: -webkit-gradient(linear, left top, right top, from(#2b72a1), to(#4c9482)) no-repeat;
	height:130px;
}

.container-two{
	height: 700px;
}

h2{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 35px;
	margin-left: -701px;
	text-align: center;
	padding-top: 40px;
}

p{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 24px;
	width: 500px;
	margin-left: 60px;
}

.saiba-mais{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 24px;
	text-decoration: none;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 2px;
	margin-left: 60px;
	transition: 0.5s;
}

.saiba-mais:hover{
	font-size: 28px;
	border-radius: 4px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}

.container-two{
    background: linear-gradient(-45deg, #266792, #e9b047, #2b72a1, #1cdd45);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.calcular{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 30px;
	width: 400px;
	margin-left: 850px;
	padding-top: 40px;
}

.calcule-ja{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 24px;
	text-decoration: none;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 2px;
	margin-left: 850px;
	transition: 0.5s;
}

.calcule-ja:hover{
	font-size: 28px;
	border-radius: 4px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}


.titulo-principal{
    max-width: 2000px;
	font-size: 40px;
	padding-top: 50px;
	margin-left: 85px;
    font-family:'Courier New', Courier, monospace;
	color: #e6b42b;
	text-shadow: 2px 3px 0px #3f3d3d;
    }
  


.titulo-principal:after{
 content: '|';
 margin-left: 10px;
 opacity: 1;
 animation: pisca .7s infinite;
}

@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

footer{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 8px;
  display: flex;
  justify-content: center;
}

footer ul{
  list-style: none;
}

footer li{ 
  margin: 8px;
}

form{
  width: 100%;
}

